<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoreySutton.Xrm.Tooling.PatchAndUpgrade.Properties.Settings.CrmConnectionString"
            connectionString="CONNECTION STRING GOES HERE" />
    </connectionStrings>
</configuration>